*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    margin-top: 25px;
    background:  rgba(166, 219, 251, 1) ;
}
#character{
    width: 20px;
    height: 20px;
    /* background-color: red; */
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
    background: rgba(245, 18, 18, 0.959);
    box-shadow: 0 8px 22px 0 rgba(236, 18, 18, 0.911);
    backdrop-filter: blur( 21.0px );
    -webkit-backdrop-filter: blur( 21.0px );
       
}
.block{
    width: 400px;
    height: 20px;
    position: relative;
    top: 100px;
    margin-top: -20px;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 1px 20px 0 rgba(31, 38, 135, 0.123);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    
}
.hole{
    width: 40px;
    height: 20px;
    background-color: rgba(166, 219, 251, 1);
    position: relative;
    top: 100px;
    margin-top: -20px;
}